#### Imports

In [20]:
import tweepy
from tweepy import Stream
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
import json
import pandas as pd
import csv

#### Authorization

In [21]:
#Twitter credentials for the app
consumer_key = 'YOUR_KEY'
consumer_secret = 'YOUR_SECRETKEY'
access_token= 'TOKEN'
access_token_secret = 'SECRET_TOKEN'

In [130]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

# Open/Create a file to append data
tweets = tweepy.Cursor(api.search,q="foodlion", lang="en", since='2020-01-01').items(100)

In [131]:
# Transform the data into a list
data = [[tweet.user.name, tweet.user.location,tweet.created_at, tweet.text] for tweet in tweets]

In [132]:
# Put in a dataframe
df = pd.DataFrame(data, columns=['name', 'location', 'date', 'text'])

In [134]:
df.to_csv('tweets1.csv')

In [133]:
df.tail()

,name,location,date,text
95,Mark Packer,"Charlotte, NC",2020-11-10 19:54:09,@JAJensenPhD @ashleykav @UNCBullpen @fletcherj...
96,David Layton,"Concord, NC",2020-11-10 19:54:05,RT @FoodLionNews: Congratulations to @GoHeels ...
97,neeküêò,,2020-11-10 19:36:03,@_ttopnotch girl I miss you moreee! I was just...
98,Purnell Swett High,Pembroke - Maxton - Prospect,2020-11-10 19:23:27,RT @PackAthletics: For every sack the @PackFoo...
99,NC State Athletics,"Raleigh, N.C.",2020-11-10 19:22:49,For every sack the @PackFootball defense makes...